@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
}

.hide {
  display: none !important;
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #189CDB;
}

.icon {
  color: #189CDB;
  padding: 0.7rem;
  font-size: 1.85rem;
}

.icons-info {
  display: inline;
  font-size: 2rem;
  color: #F5F5F5;
}

h1 {
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}
body .container-div {
  margin: 0;
  padding: 0;
  width: 100%;
}
body .container-div #banner {
  background: url(../images/banner.png) no-repeat;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  object-position: 16rem 0;
}
body .container-div #banner h1 {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -77%);
  color: #fff;
  font-size: 4.2em;
  mix-blend-mode: normal;
  font-weight: 300;
}
body .container-div #banner span {
  position: absolute;
  font-size: 1.6rem;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -68%);
  color: #fff;
}
body .container-div #nav-bar {
  width: 100%;
  height: 7rem;
  background-color: #fff;
}
body .container-div #nav-bar .nav-bar-info {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 7.6rem;
  justify-content: center;
  align-items: stretch;
  place-content: center;
  height: 100%;
}
body .container-div #nav-bar .nav-bar-info a {
  display: flex;
  width: 15rem;
  padding: auto;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1882352941);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.625rem;
  font-weight: 400;
}
body .container-div #nav-bar .nav-bar-info a:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1882352941);
}
body .container-div #nav-bar .nav-bar-info a:hover {
  font-size: 1.8rem;
  font-weight: 500;
  color: #189CDB;
}
body .container-div #nav-bar .nav-bar-info .info-to-bar {
  display: inline-block;
  width: 30rem;
  padding-top: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1882352941);
  text-align: center;
  justify-content: center;
  justify-items: center;
}
body .container-div #nav-bar .nav-bar-info .info-to-bar h1 {
  font-size: 2.43rem;
  font-weight: 400;
}
body .container-div #nav-bar .nav-bar-info .info-to-bar span {
  margin-bottom: 10px;
  font-size: 1.15em;
  opacity: 0.5;
  margin-inline-start: 0;
}
body .container-div #about .about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 43rem;
  align-items: flex-start;
}
body .container-div #about .about-content #target {
  background-color: #F5F5F5;
  flex: 1 1 10rem;
  position: relative;
  min-height: 43rem;
  height: 100%;
  width: 100%;
  padding: 8rem 5.4rem;
  padding-left: 10%;
}
body .container-div #about .about-content #target p {
  font-size: 1.5rem;
  font-weight: 100;
  color: #827A96;
}
body .container-div #about .about-content #personal-info {
  flex: 1 1 10rem;
  min-height: 43rem;
  width: 100%;
  height: 100%;
  padding: 8rem 5.4rem 0 5.4rem;
  background-color: #F0F0F0;
  padding-right: 10%;
}
body .container-div #about .about-content #personal-info form div .form-control {
  line-height: 2;
  font-size: 1.2rem;
}
body .container-div #about .about-content #personal-info form div {
  margin: 1.5rem 0 2.2rem 0;
  color: #827A96;
  font-size: 1.2rem;
}
body .container-div #about .about-content #personal-info form .btn {
  background-color: #189CDB;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #189CDB;
}
body .container-div #about .about-content #personal-info ul {
  list-style: none;
}
body .container-div #about .about-content #personal-info ul li {
  cursor: pointer;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #827A96;
}
body .container-div #about .about-content #personal-info ul li a {
  color: #827A96;
}
body .container-div #about .about-content #personal-info ul li a:hover {
  color: #189CDB;
}
body .container-div #about .about-content #personal-info ul li span {
  color: black;
}
body .container-div #about .about-content #personal-info ul li:last-child {
  margin: 20px 2px;
  font-size: 1.625rem;
}
body .container-div #about .about-content #personal-info ul li i:hover {
  font-size: 2.5rem;
}
body .container-div #about .about-content .section-title {
  margin-bottom: 3rem;
  font-size: 2.6rem;
}
body .container-div #job-info {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}
body .container-div #job-info .information {
  display: grid;
  grid-template-columns: repeat(3, 38rem);
  gap: 3rem;
  place-items: baseline center;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
}
body .container-div #job-info .information div {
  padding: 3rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1882352941);
}
body .container-div #job-info .information div h1 {
  color: #333333;
  font-size: 2.6rem;
  font-weight: 500;
}
body .container-div #job-info .information div ul li {
  list-style-type: inherit;
  list-style-position: outside;
  font-size: 3rem;
  color: #189CDB;
  margin-top: 1.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
}
body .container-div #job-info .information div ul li h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
}
body .container-div #job-info .information div ul li p {
  font-size: 1.3rem;
  font-weight: 100;
  color: #827A96;
}
body .container-div #job-info .information div ul li .title-time {
  font-size: 1.2rem;
  margin: 5px 0;
}
body .container-div #job-info .information div ul li .title-time span {
  background-color: #189CDB;
  padding: 4px;
  border-radius: 7px;
  color: white;
}
body .container-div #job-info .information .info-big {
  height: 100%;
  width: 100%;
}
body .container-div #job-info .information .info-big .view-more-job {
  position: relative;
}
body .container-div #job-info .information .info-big .view-more-job button {
  position: relative;
  top: 1rem;
  right: 0;
  min-width: 12rem;
  min-height: 4rem;
  background-color: #EEF1B7;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  gap: 1rem;
  opacity: 0;
  border: none;
}
body .container-div #job-info .information .info-big .view-more-job button:hover {
  opacity: 1;
  transition: 0.2s;
}
body .container-div #job-info .information .info-big div {
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
body .container-div #job-info .information .info-big div .icons-info {
  height: 1.5rem;
  font-size: 6rem;
  color: #A8B1B6;
}
body .container-div #job-info .information .info-big .info-small-like {
  display: grid;
  border: none;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 2.2rem;
}
body .container-div #job-info .information .info-big .info-small-like div {
  border: none;
  width: 100%;
  padding: 0;
  display: inline;
  align-items: center;
  justify-content: center;
}
body .container-div #job-info .information .info-big .info-small-like div div {
  position: relative;
  display: inline-block;
  color: #B7DEF3;
  border-radius: 50%;
  width: 5.4rem;
  height: 5.4rem;
  margin: 0.86rem; /* Khoảng cách giữa các biểu tượng */
  box-shadow: 0 0 5px #a6d6f0;
  border: 1px solid #B7DEF3;
}
body .container-div #job-info .information .info-big .info-small-like div div i {
  font-size: 2.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .container-div #job-info .information .info-big .info-small-like div p {
  font-size: 1.4rem;
  text-align: center;
  color: #777777;
}
body .container-div #job-info .information .info-big .info-tick {
  display: block;
  margin-top: 2.2rem;
}
body .container-div #job-info .information .info-big .info-tick div {
  display: inline-block;
  font-size: 1.4rem;
  color: #777777;
  margin-top: 5px;
}
body .container-div #job-info .information .info-big .info-tick div div {
  width: 50px;
  height: 1.5px;
  background-color: #F3F3F3;
  margin-right: 7px;
}
body .container-div #job-info .information .info-big .info-tick div .tick {
  background-color: #189CDB;
}
body .container-div #certificate {
  background-color: #F7F7F7;
  width: 100%;
}
body .container-div #certificate .certificate-info {
  margin: auto 17%;
  margin-bottom: 3.25rem;
}
body .container-div #certificate .certificate-info .section-title {
  padding-top: 5.4rem;
  padding-bottom: 5.4rem;
}
body .container-div #certificate .certificate-info .certificate-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-bottom: 1px solid #DDCCA3;
  padding-bottom: 3.25rem;
  align-items: center;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-content: center;
  justify-content: start;
  justify-items: center;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate:first-child {
  margin-right: 2rem;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate:nth-child(2n) {
  border-left: 1px solid #DDCCA3;
  width: 100%;
  padding-left: 20px;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate img {
  width: 12vw;
  height: auto;
  background-size: cover !important;
  background-position: center !important;
  background: no-repeat;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate div {
  display: block;
  padding-left: 15px;
  min-width: 30rem;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate div h4 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
body .container-div #certificate .certificate-info .certificate-div .items-certificate div p {
  font-size: 1.3rem;
  font-weight: 100;
  color: #827A96;
}
body .container-div #certificate .certificate-info .certificate-div:nth-child(3) {
  border: none;
  margin-top: 3.25rem;
}
body .container-div #project {
  margin: 40px 17% 0 17%;
}
body .container-div #project div h1 {
  margin-bottom: 1.25rem;
}
body .container-div #project div .projects {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
body .container-div #project div .projects .project {
  padding: 2.5rem;
  text-align: center;
}
body .container-div #project div .projects .project div {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
body .container-div #project div .projects .project div img {
  width: 100%;
  height: auto;
  object-position: top;
}
body .container-div #project div .projects .project .project-table {
  width: 100%;
  border-collapse: collapse;
  height: 300px;
  padding: auto;
  table-layout: fixed;
  margin-top: -1px;
  color: #777777;
  font-size: 13px;
}
body .container-div #project div .projects .project .project-table tr {
  height: auto;
}
body .container-div #project div .projects .project .project-table tr:first-child {
  height: 100%;
}
body .container-div #project div .projects .project .project-table tr td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.625rem;
}
body .container-div #project div .projects .project .project-table tr .tb-cv {
  padding-left: 20px;
  font-size: 1.625rem;
  font-weight: 400;
  color: black;
}
body .container-div #project div .projects .project .project-table tr .info-cv {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
body .container-div #project div .projects .project .project-table tr .info-cv span {
  background-color: #189CDB;
  padding: 2px 15px 2px 15px;
  border-radius: 13px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
body .container-div #project div .projects .project .project-table tr .info-cv span, body .container-div #project div .projects .project .project-table tr .info-cv i, body .container-div #project div .projects .project .project-table tr .info-cv p {
  margin-right: 20px;
}
body .container-div #project div .projects .project .project-table tr .info-cv i {
  font-size: 19px;
  color: #777777;
}
body .container-div #project div .projects .project .project-table tr .describe-cv {
  display: grid;
  grid-template-columns: 80px auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
body .container-div #project div .projects .project .project-table tr .describe-cv p:last-child {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
body .container-div #project div .projects .project .project-table tr .mission-cv {
  display: grid;
  grid-template-columns: 80px auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
body .container-div #project div .projects .project .project-table tr .tech-cv {
  display: grid;
  grid-template-columns: 80px auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
body .container-div #footer {
  background-color: #E8E9EB;
}
body .container-div #footer .footer-info {
  margin: 0 20%;
  padding: 40px 0 40px 0;
}
body .container-div #footer .footer-info ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body .container-div #footer .footer-info ul li {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}
body .container-div #footer .footer-info ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #777777;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
}
body .container-div #footer .footer-info ul li a i {
  font-size: 25px;
}
body .container-div #footer .footer-info ul li a:hover {
  color: #189CDB;
}
body .container-div .section-title {
  font-size: 2.6em;
  font-weight: 100;
  color: #333333;
}
body .container-div p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body .container-div h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 57%;
    scroll-padding: 7rem;
  }
}

/*# sourceMappingURL=laptop.css.map */
