* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
}

$blue: #0000FF;
$text: #212529;
$purple: #9D88FF;