@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: 400;
    line-height: 1.5;
}

$white-100: #fff;
$white-50: #F5F5F5;
$white-30: #F0F0F0;
$black: #111;
$orange: #DDCCA3;
$blue: #189CDB;
$bd-black: #00000030;
$text-p: #777777;
$text-p-100: #827A96;
$text-h1: #333333;
$box-shadow: #a6d6f0;
$border: .2rem solid #00000030;

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white-100;
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
    }
}

.icon {
    color: $blue;
    padding: 0.7rem;
    font-size: 1.85rem;
}

.icons-info {
    display: inline;
    font-size: 2rem;
    color: $white-50;
}

h1 {
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    background-color: $white-100;
    overflow-x: hidden;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
            #banner {
                background: url(../images/banner_2.png) no-repeat;
                min-height: 60vh;
                background-size: cover !important;
                background-position: center !important;
                filter: brightness(80%);
                width: 100%;
                position: relative;
                align-items: center;
                justify-content: center;
                object-position: 16rem 0;

                h1 {
                    position: absolute;
                    top: 23%;
                    left: 50%;
                    transform: translate(-50% ,-77%);
                    color: $white-100;
                    font-size: 4.2em;
                    mix-blend-mode: normal;
                    font-weight: 300;
                }

                span {
                    position: absolute;
                    font-size: 1.6rem;
                    top: 28%;
                    left: 50%;
                    transform: translate(-50% ,-68%);
                    color: $white-100;
                }
            }

            #nav-bar {
                width: 100%;
                height: 7rem;
                background-color: $white-100;
                .nav-bar-info {
                    display: grid;
                    grid-template-columns: repeat(5, auto);
                    grid-template-rows: 7.6rem;
                    justify-content: center;
                    align-items: stretch;
                    place-content: center;
                    height: 100%;

                    a {
                        display: flex;
                        width: 15rem;
                        padding: auto;
                        text-align: center;
                        border-left: 1px solid $bd-black;
                        text-decoration: none;
                        align-items: center;
                        justify-content: center;
                        color:black;
                        font-size: 1.625rem;
                        font-weight: 400;

                        &:last-child {
                            border-right: 1px solid $bd-black;;
                        }

                        &:hover {
                            font-size: 1.8rem;
                            font-weight: 500;
                            color: $blue;
                        }
                    }
                    .info-to-bar {
                        display: inline-block;
                        width: 30rem;
                        padding-top: 1rem;
                        border-left: 1px solid $bd-black;
                        text-align: center;
                        justify-content: center;
                        justify-items: center;

                        h1 {
                            font-size: 2.43rem;
                            font-weight: 400;
                        }
                        span {
                            margin-bottom: 10px;
                            font-size: 1.15em;
                            opacity: 0.5;
                            margin-inline-start: 0;
                        }
                    }
                }
            }

        #about {

            .about-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                min-height: 43rem;
                align-items: flex-start;

                #target {
                    background-color: $white-50;
                    flex: 1 1 10rem;
                    position: relative;
                    min-height: 43rem;
                    height: 100%;
                    width: 100%;
                    padding: 8rem 5.4rem;

                    p {
                        font-size: 1.5rem;
                        font-weight: 100;
                        color: $text-p-100;
                    }
                }

                #personal-info {
                    flex: 1 1 10rem;
                    position: relative;
                    min-height: 43rem;
                    width: 100%;
                    height: 100%;
                    padding: 8rem 5.4rem 0 5.4rem;
                    background-color: $white-30;

                    ul {
                        list-style: none;

                        li {
                            cursor: pointer;
                            line-height: 3rem;
                            font-size: 1.5rem;
                            color: $text-p-100;

                            a {
                                color: $text-p-100;
                                &:hover {
                                    color: $blue;
                                }
                            }

                            span {
                                color: black;
                            }
                            
                            &:last-child {
                                margin: 20px 2px;
                                font-size: 1.625rem;
                            }
                            
                            i:hover{
                                font-size: 2.5rem;
                            }
                        }
                    }
                }

                .section-title {
                    margin-bottom: 3rem;
                    font-size: 2.6rem;
                }
            }
        }

        #job-info {
            margin-top: 3.25rem;
            margin-bottom: 3.25rem;
            .information {
                display: grid;
                grid-template-columns: repeat(3, 38rem);
                gap: 3rem;
                place-items: baseline center;
                justify-content: center;
                align-items: stretch;
                justify-items: center;

                div {
                    padding: 3.25rem;
                    background-color: $white-100;
                    border: 1px solid $bd-black;

                    h1 {
                        color: $text-h1;
                        font-size: 2.6rem;
                        font-weight: 500;
                    }
                    ul {
                        li {
                            list-style-type: inherit;
                            list-style-position: outside;
                            font-size: 3rem;
                            color: $blue;
                            margin-top: 2.2rem;
                            margin-left: 2rem;
                            padding-left: 1rem;
                            h4 {
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: black;
                            }
                            p {
                                font-size: 1.3rem;
                                font-weight: 100;
                                color: $text-p-100;
                            }
                            .title-time {
                                font-size: 1.2rem;
                                margin: 5px 0;
                                span {
                                    background-color:$blue;
                                    padding: 4px;
                                    border-radius: 7px;
                                    color: white;
                                }
                            }
                        }
                    }
                }

                .info-big {
                    height: 100%;
                    width: 100%;
                    div {
                        padding: 0;
                        border: none;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: baseline;

                        .icons-info {
                            font-size: 6rem;
                            color: #A8B1B6;
                        }
                    }

                    #info-small-like {

                        display: grid;
                        border: none;
                        grid-template-rows: repeat(1, auto);
                        grid-template-columns: repeat(4, auto);
                        grid-gap: 5px;
                        align-items: center;
                        justify-items: center;
                        justify-content: center;
                        margin-top: 2.2rem;

                        div {
                            border: none;
                            width: 100%;
                            padding: 0;
                            display: inline;
                            align-items: center;
                            justify-content: center;

                            div {
                                position: relative;
                                display: inline-block;
                                color: #B7DEF3;
                                border-radius: 50%;
                                width: 5.4rem;
                                height: 5.4rem;
                                margin: 0.86rem; /* Khoảng cách giữa các biểu tượng */
                                box-shadow: 0 0 5px $box-shadow;
                                border: 1px solid #B7DEF3;
                                i {
                                    font-size: 2.7rem;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            p {
                                font-size: 1.4rem;
                                text-align: center;
                                color: $text-p;
                            }
                        }

                    }

                    #info-tick {
                        display: block;
                        margin-top: 2.2rem;
                        div {
                            display: inline-block;
                            font-size: 1.4rem;
                            color: $text-p;
                            margin-top: 5px;
                            div {
                                width: 50px;
                                height: 1.5px;
                                background-color: #F3F3F3;
                                margin-right: 7px;
                            }
                            .tick {
                                background-color: $blue;
                            }
                        }
                    }

                }
            }
        }

        #certificate {
            background-color: #F7F7F7;
            width: 100%;
            .certificate-info {
                margin: auto 17%;
                margin-bottom: 3.25rem;
                .section-title {
                    padding-top: 5.4rem;
                    padding-bottom: 5.4rem;
                }
                .certificate-div {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    border-bottom: 1px solid #DDCCA3;
                    padding-bottom: 3.25rem;
                    align-items: center;
                    .items-certificate {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        align-content: center;
                        justify-content: start;
                        justify-items: center;

                        &:first-child {
                            margin-right: 2rem;
                        }
                        &:nth-child(2n) {
                            border-left: 1px solid #DDCCA3;
                            width: 100%;
                            padding-left: 20px;
                        }

                        img {
                            width: 12vw;
                            height: auto;
                            background-size: cover !important;
                            background-position: center !important;
                            background: no-repeat;
                        }
                        div {
                            display: block;
                            padding-left: 15px;
                            min-width: 30rem;
                            h4 {
                                font-size: 1.6rem;
                                font-weight: 400;
                                text-transform: uppercase;
                            }

                            p {
                                font-size: 1.3rem;
                                font-weight: 100;
                                color: $text-p-100;
                            }
                        }
                    }

                    &:nth-child(3) {
                        border: none;
                        margin-top: 3.25rem;
                    }
                }
            }
        }
        #project {
            margin: 40px 17% 0 17%;
            div {
                h1 {
                    margin-bottom: 1.25rem;
                }
                .projects {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;
                    .project {
                        padding: 2.5rem;
                        text-align: center;

                        div {
                            width: 100%;
                            height: 400px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: auto;
                                object-position: top;
                            }
                        }

                        .project-table {
                            width: 100%;
                            border-collapse: collapse;
                            height: 300px;
                            padding: auto;
                            table-layout: fixed;
                            margin-top: -1px;
                            color: $text-p;
                            font-size: 13px;
                            
                            tr {
                                height: auto;

                                &:first-child {
                                    height: 100%;
                                }
                                td {
                                    border: 1px solid #ccc;
                                    text-align: left;
                                    padding: 0.625rem;
                                }

                                .tb-cv {
                                    padding-left: 20px;
                                    font-size: 1.625rem;
                                    font-weight: 400;
                                    color: black;
                                }

                                .info-cv {
                                    display: flex;
                                    padding-left: 20px;
                                    justify-content: flex-start;
                                    align-items: center;
                                    align-content: center;
                                    flex-wrap: wrap;

                                    span {
                                        background-color: $blue;
                                        padding: 2px 15px 2px 15px;
                                        border-radius: 13px;
                                        color: white;
                                        font-size: 1.2rem;
                                        text-align: center;
                                    }
                                    span,i,p {
                                        margin-right: 20px;
                                    }
                                    i {
                                        font-size: 19px;
                                        color: $text-p;
                                    }
                                }
                                .describe-cv {
                                    display: grid;
                                    grid-template-columns: 80px auto;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    flex-wrap: nowrap;

                                    p:last-child {
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        display: -webkit-box;
                                    }
                                }
                                .mission-cv {
                                    display: grid;
                                    grid-template-columns: 80px auto;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    flex-wrap: nowrap;
                                }
                                .tech-cv {
                                    display: grid;
                                    grid-template-columns: 80px auto;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    flex-wrap: nowrap;
                                }

                            }
                        }
                    }
                }
            }
        }

        #footer {
            background-color: #E8E9EB;
            .footer-info {
                margin: 0 20%;
                padding: 40px 0 40px 0;
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    li {
                        display: flex;
                        list-style-type: none;
                        margin-right: 20px;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            color: $text-p;
                            font-weight: 400;
                            font-size: 15px;
                            align-items: center;
                            i {
                                font-size: 25px;
                            }

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }

        .section-title {
            font-size: 2.6em;
            font-weight: 100;
            color: $text-h1;
        }

        p {
            display: block;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        h4 {
            display: block;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    html {
        font-size: 58%;
        scroll-padding: 7rem;
    }
}



